.b2-selectRow {
  margin-bottom: 2%;
}
.b2-textCol {
  display: grid;
  align-content: center;
  margin-top: 2%;
  font-size: smaller;
}
.b2-text1 {
  font-size: smaller;
}

.b2-text2 {
  font-size: xx-small;
}

.b2-text3 {
  font-size: x-small;
}

.b2-grid {
  margin: 1% 5% 1% 5%;
}

.b2-rowradioStyle {
  font-size: small;
  display: grid;
}

.b2-radioStyle {
  zoom: 80%;
  margin-right: 1%;
}

.b2-cardCol {
  padding: 0;
}

.b2-label1 {
  font-size: x-small;
}

.b2-cardheader {
  border-bottom: 1px solid black;
  width: 80%;
  text-align: center;
}

.b2-span {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: x-small;
  color: #fff;
  text-align: center;
  background: rgb(15, 13, 133);
  margin: 1% 1% 1% 5%;
}

.b2-div {
  display: flex;
}

.b2-colCalender {
}
