.Btext1 {
  font-size: smaller;
}

.Btext2 {
  font-size: xx-small;
}

.Btext3 {
  font-size: x-small;
}

.BtextCol {
  display: grid;
  align-content: flex-start;
  margin-top: 2%;
}

.BfirstRow {
  padding: 0% 2% 0% 2%;
  align-items: center;
}
.BsecondRow {
  border-bottom: 1px solid black;
  margin: 0% 2% 0% 2%;
  width: 90%;
}
.BthirdRow {
  padding: 0% 2% 0% 2%;
}

.BcardStyle {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5% 5% 5% 5%;
}

.BcardContentStyle {
  padding: 0%;
}

.youtubePlay {
  align-self: center;
}

.editCol {
  text-align: center;
}
.cancelCol {
  text-align: center;
}
