.p-text1 {
  font-size: smaller;
}

.p-text2 {
  font-size: xx-small;
}

.p-text3 {
  font-size: x-small;
}

.p-textCol {
  display: grid;
  align-content: flex-start;
  margin-top: 2%;
}

.p-firstRow {
  padding: 0% 2% 0% 2%;
  align-items: center;
}
.p-secondRow {
  border-bottom: 1px solid black;
  margin: 0% 2% 0% 2%;
  width: 90%;
}

.p-firstRowCol {
  padding-bottom: 0%;
}

.p-secondRowCol {
  padding-top: 0%;
}

.p-cardStyle {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5% 5% 5% 5%;
}

.p-cardContentStyle {
  padding: 0%;
}

.p-btn {
  width: 100%;
}
