.cardHeader {
  text-align: center;
  color: white;
  padding-bottom: 0%;
}

.inputlabel {
  margin-left: 5%;
  display: block;
}

.divClass {
  padding: 15% 10%;
  /* height: 400px; */
}

.secodnaryGrid {
  margin-top: 10%;
}

.nextBtn {
  padding-left: 15%;
  padding-right: 15%;
}

.dob {
  border-radius: 5px;
  border: 2px solid white;
  --padding-start: 5% !important;
  text-align: center;
  --placeholder-color: lightgrey;
}

.displayInline {
  display: inline-block;
}

.multiselect {
  --background: none;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  --padding-start: 5% !important;
  text-align: left;
  --placeholder-color: lightgrey;
  width: 170px;
}

.checkBox {
  --size: 30px;
  border-radius: 5px;
  border: 2px solid white;
}

.textStyle {
  font-size: larger;
}

.textCol {
  padding-left: 0%;
  padding-top: 0%;
}

.dropdownbtn{
  margin-top:30px;
}

.image-preview{
width: 35px;
height: 50px
}

.dropdown{
  width:100%;
}

.file{
  width:70%;
}